__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
.coverage
.tox/
.nox/
htmlcov/
.pytest_cache/
.ipynb_checkpoints/
data/
*.csv
.venv/
venv/
.vscode/
.idea/
.DS_Store
Thumbs.db
